.feature {
    margin-bottom: 266px;
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
      max-width: 420px;
      width: 100%;
  }

  &-image {
      transform: translateX(-56px);
  }

  &-desc {
    margin-bottom: 37px;
  }

  &-item:nth-child(even) {
      flex-direction: row-reverse;
      .feature-image {
          transform: translateX(28px);
      }

      .feature-content {
          padding-left: 90px;
          max-width: 510px;
      }
  }
}
